<div id="loginbox" style="margin-top:60px;" class="">
    <div class="">
        <div class="">
            <div class=""><h1>Sign up</h1></div>
        </div>
        <div style="padding-top:10px" class="">
            <div style="display:none" id="login-alert" class=""></div>
            <formly-form model="newUser" fields="RegisterFields">
                <button type="submit" class="btn btn-primary" ng-click="signup(newUser)">Register</button>
            </formly-form>
        </div>
    </div>
</div>
